apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-db-init
  namespace: {{ .Release.Namespace }}
  labels:
    app: postgresql
    role: init
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation
