{{- if .Values.kafka.sasl.enabled }}
{{- range .Values.kafka.sasl.users }}
---
apiVersion: v1
kind: Secret
metadata:
  name: kafka-{{ . }}-credentials
  namespace: {{ $.Release.Namespace }}
  labels:
    app: kafka
    user: {{ . }}
type: Opaque
data:
  KAFKA_BROKERS: {{ printf "kafka-controller-headless.%s.svc.cluster.local:9092" $.Release.Namespace | b64enc }}
  KAFKA_SASL_USERNAME: {{ . | b64enc }}
  KAFKA_SASL_PASSWORD: {{ randAlphaNum 32 | b64enc }}
  KAFKA_SASL_MECHANISM: {{ "PLAIN" | b64enc }}
{{- end }}
{{- end }}