apiVersion: v1
kind: Service
metadata:
  name: {{ include "dcmaidbot.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: dcmaidbot
    release: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
  - name: webhook
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: dcmaidbot
    release: {{ .Release.Name }}
