{{- if .Values.argocd.rbac.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  # RBAC policy - only dcversus@gmail.com gets admin role
  policy.default: ""
  scopes: '[groups, email]'
  policy.csv: |
    g, dcversus@gmail.com, role:admin
{{- end }}
